<!DOCTYPE html>
<html>
<head>
    <title>Find Jobs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="login-box">
        <h1>Find Jobs</h1>
        <ul>
            {% for job in jobs %}
                <li>
                    {{ job['title'] }} 
                    <a href="/user/apply_now/{{ job['id'] }}">
                        <button>View & Apply</button>
                    </a>
                </li>
            {% endfor %}
        </ul>
        <a href="/user/dashboard">Back to Dashboard</a>
    </div>
</body>
</html>
