<!DOCTYPE html>
<html>
<head>
    <title>Recruiter Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Recruiter Dashboard</h1>
        <a href="/" class="logout-btn"><button>Logout</button></a>
    </header>
    <div class="login-box">
        <a href="/recruiter/create_job"><button>Create Job</button></a>
        <h2>Your Jobs</h2>
        <ul>
            {% for job in jobs %}
                <li>
                    {{ job['description'] }} <a href="/recruiter/view_statistics/{{ job['id'] }}"><button> View statistics</button></a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
