<!DOCTYPE html>
<html>
<head>
    <title>User Signup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="login-box">
        <h1>User Signup</h1>
        <form method="post">
            <input type="text" name="username" required placeholder="Username"><br>
            <input type="password" name="password" required placeholder="Password"><br>
            <input type="submit" value="Signup">
        </form>
        <a href="/"><button> Back to Homepage </button></a>
    </div> <!--login-box-->
</body>
</html>
