<!DOCTYPE html>
<html>
<head>
    <title>Job Statistics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="login-box">
        <h1>Job Applications</h1>
        <ul>
            {% for application in applications %}
                <li>
                    {{ application['username'] }}
                    <a href="/recruiter/view_application/{{ application['id'] }}"><button>View applicant</button></a>
                </li>
            {% endfor %}
        </ul>
        <a href="/recruiter/dashboard">Back</a>
    </div>
</body>
</html>